@using Hospital.Dtos

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@model PatientDto

 @if(ViewBag.Message!=null)
   
    {
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
    } 
@if (ViewBag.Validation != null)
{
    <div id="alertMessage" class="alert alert-danger" role="alert" >
        @ViewBag.Validation
    </div>
}



<form method="post">
    
    <div class="row">
        <div class="col-6">
            <input asp-for="Name" class="form-control" placeholder=" Name" required  />
            <br />
            <input asp-for="LastName" class="form-control" placeholder="Last Name" required />
            <br />
            <input asp-for="IdentityNumber" class="form-control" placeholder="Identity Number" required />
            <br />
            <input asp-for="Phone" class="form-control" placeholder="Phone Number" required />
            <br />
            <input asp-for="Email" class="form-control" placeholder="Email" required />
            <br />
            <input asp-for="Illness" class="form-control" placeholder="Illness" required />
            <br />
            <input asp-for="Diagnosis" class="form-control" placeholder="Diagnosis" required />
            <br />
            <select class="form-control" asp-for="Policlinic" asp-items="ViewBag.Policlinics" required>
                <option value="" disabled selected hidden>Select a Policlinic</option>
            </select>
            <br />
            <select class="form-control" asp-for="Personell" asp-items="ViewBag.Personells" required>
                <option value="" disabled selected hidden>Select a Doctor</option>
            </select>
            <br />

            <button type="submit" value="Save" class="btn btn-primary" />
            <i class="fa-regular fa-floppy-disk"> </i> Save </button>

        </div>


    </div>

</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 2000);
    });
</script>
