@using Hospital.Dtos

@{
    ViewData["Title"] = "Add";
}
@model PoliclinicDto

@if(ViewBag.Message != null)
{
    <div id="alertMessage" class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}

<h1>Add Policlinic</h1>

<h1>Create New policlinic</h1>

<form method="post">
    
    <div class="row">
        <div class="col-6">
            <input asp-for="Name" class="form-control" placeholder="Departman Giriniz" required/>
            <br />
          
            <button type="submit" value="Save" class="btn btn-primary" />
            <i class="fa-regular fa-floppy-disk"> </i> Save </button>

        </div>


    </div>

</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 2000);
    });
</script>


