@using Hospital.Dtos

@{
    ViewData["Title"] = "Add";
}
@model PersonellDto
<h1>Personell Add</h1>

@if (ViewBag.Personell == false)

{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
@if (ViewBag.Validation != null)
{
    <div id="alertMessage" class="alert alert-danger" role="alert">
        @ViewBag.Validation
    </div>
}


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-6">
            <input asp-for="Name" class="form-control" placeholder=" Adı" required />
            <br />
            <input asp-for="LastName" class="form-control" placeholder="Soyadı" required />
            <br />
            <input asp-for="IdentityNumber" class="form-control" placeholder="TC Kimlik No" required />
            <br />
            <input asp-for="Phone" class="form-control" placeholder="Telefon No" required />
            <br />
            <input asp-for="Email" class="form-control" placeholder="E-Posta" required />
            <br />
            <select class="form-control" asp-for="Title" asp-items="ViewBag.Titles" required>
                <option value="" disabled selected hidden>Select Title... </option>
            </select>
            <br />
            <select class="form-control" asp-for="Departman" asp-items="ViewBag.Departman" required>
                <option value="" disabled selected hidden>Select Departman ... </option>
            </select>
            <br />

            <button type="submit" value="Save" class="btn btn-primary" />
            <i class="fa-regular fa-floppy-disk"> </i> Save </button>

        </div>


    </div>

</form>
