@using Hospital.Dtos

@{
    ViewData["Title"] = "Add";
}
@if(ViewBag.All != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.All
    </div>
}
@model DepartmanDto

<h1>Create New Departman</h1>

@if (ViewBag.Validation == false)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ValidationMessage
    </div>
}

<form method="post" id="myForm">
    
    <div class="row">
        <div class="col-6">
            <input asp-for="Name" id="name" name="name" class="form-control" placeholder="Enter Department  " required />
           <br />
            <input asp-for="Description" class="form-control" placeholder="Enter Description" required  />
            <br />
            
                <button type="submit" value="Save" class="btn btn-primary" />
            <i class="fa-regular fa-floppy-disk"> </i> Save </button>
           

        </div>


    </div>

</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 2000);
    });
</script>
