@using Hospital.Dtos
@{
    ViewData["Title"] = "Update";
}

@model DepartmanDto

<h1>Update</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <input asp-for="Name" class="form-control" value="@Model.Name" required />
            <br />
            <input asp-for="Description" class="form-control" value="@Model.Description" required />
            <br />
            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </div>


    </div>

</form>