@using Hospital.Dtos
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
@if (ViewBag.Message != null)
{
    <div id="alertMessage" class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}


@model TitleDto


<h1>Create New Title</h1>

<form method="post">

    <div class="row">
        <div class="col-6">
            <input asp-for="Name" class="form-control" placeholder="Title Giriniz" required />
            <br />
            <input asp-for="Description" class="form-control" placeholder="Açıklama Giriniz" required />
            <br />
            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </div>


    </div>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 2000);
    });
</script>


