@using Hospital.Dtos

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@model InventoryDto



<form method="post">

    <div class="row">
        <div class="col-6">
            <input asp-for="Name" class="form-control" value="@Model.Name"  />
            <br />
            <input asp-for="Description" class="form-control" value="@Model.Description" />
            <br />
            <input asp-for="Stock" class="form-control" value="@Model.Stock" />
            <br />
            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </div>


    </div>

</form>